{% extends 'base.html' %}
{% load static %}

{% block container %}
    <h1>Witaj w świecie Książkoholików</h1>

    <div class="row">

        {% if user.is_authenticated %}

            <div class="card" style="width: 13rem;">
                <img src="{% static 'images/user_icon.svg' %}" class="card-img-top" alt="user"
                     style="width: 10rem; height: 10rem; text-align: center; margin: auto">
                <div class="card-body" style="text-align: center; margin: auto">
                    <h5 class="card-title">Twoje Konto</h5>
                    <a href="{% url 'Users:account' %}" class="btn btn-primary">Zobacz szczegóły</a>
                </div>
            </div>

            {% if user.is_superuser %}
                <div class="card" style="width: 15rem;">
                    <img src="{% static 'images/library-icon.svg' %}" class="card-img-top" alt="library"
                         style="width: 10rem; height: 10rem; text-align: center; margin: auto">
                    <div class="card-body" style="text-align: center; margin: auto">
                        <h5 class="card-title">Biblioteka</h5>
                        <div class="card-body" style="text-align: center; margin: auto">
                            <a href="{% url 'Books:upload_library' %}" class="btn btn-primary">Stwórz bibliotekę</a>
                        </div>
                        <div class="row" style="text-align: center; margin: auto">
                            <a href="{% url 'Books:add_book' %}" class="btn btn-primary">Dodaj książki</a>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 15rem;">
                    <img src="{% static 'images/books_list.svg' %}" class="card-img-top" alt="library"
                         style="width: 10rem; height: 10rem; text-align: center; margin: auto">
                    <div class="card-body" style="text-align: center; margin: auto">
                        <h5 class="card-title">Lista książek</h5>
                        <div class="card-body" style="text-align: center; margin: auto">
                            <a href="{% url 'Books:view_books' %}" class="btn btn-primary">Zobacz listę książek</a>
                        </div>
                    </div>

                </div>

            {% endif %}

        {% endif %}
    </div>
{% endblock %}