{% load static %}

<nav class="navbar" style="background-color: cadetblue">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Home:home' %}">
            <img src="{% static 'images/books.svg' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home:home' %}">Strona Główna</a>
                </li>
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ user.username }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Users:logout' %}">Wyloguj się</a>
                    </li>

                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'Books:upload_library' %}">Dodaj książki do bazy danych</a>
                        </li>
                    {% endif %}

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Users:register' %}">Rejestracja</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Users:login' %}">Logowanie</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>